@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");

.intro_section {
  width: 100%;
  margin: auto;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: rgb(78, 78, 78);
}

.parallax-img {
  position: relative;
  height: 400px;
}
.parallax-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.77;
  /* Adjust opacity and color */
  z-index: 1;
}

.card-text {
  position: relative;
  z-index: 2;
  margin: auto;
  color: rgb(255, 255, 255);
  font-size: 22px;
  padding: 20px;
  text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.8);
}

.bgimg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.dropbtn {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 12px 24px;
  font-size: 18px;
  border: none;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.di{
  text-transform: lowercase;
}
.di::first-letter {
  text-transform: uppercase;
}

.dropdown {
  position: relative;
  display: flex;
  margin: 20px;
  margin-top: 80px;
  align-items: center;
  justify-content: center;
  
  
}

.dropdown-content {
  
  position: absolute;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  
}

.dropdown-content .di {
  color: black;
  padding: 12px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-content .di:hover {
  background-color: #ddd;
}


.dropdown:hover .dropbtn {
  background-color: #cecece;
  color: black;
}
.card-text{
  font-size: 43px;

}
.card-text3{
  font-size: 25px;
  color: white;
  margin-top: -25px;
}

.text-container {
  position: relative;
  z-index: 2; /* Ensures it appears above the overlay */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}


/* Responsive Styling */
@media screen and (max-width: 733px) {
  .card-text {
    font-size: 28px;
  }
  .dropdown-content {
    width: 100%;
  }
}
@media screen and (max-width: 1250px) {
  
  .dropdown-content {
    width: 100%;
  }
  .card-text {
    font-size: 10px;
  }
}

@media screen and (max-width: 564px) {
  .parallax-img {
    height: 300px;
  }

  .card-text {
    font-size: 25px;
    padding: 10px;
  }
  .card-text3{
    font-size: 0px;
    color: white;
  }
  .dropbtn {
    font-size: 16px;
    padding: 10px 20px;
  }
}
